.btn-outline-success {
    border-color: blue;
    color: blue;
    margin: 1em;
}

.try-it {
    color: white;
}

.content {
    text-align: center;
    margin-bottom: 1em;
    padding: 1em;
}

.title {
    text-align: center;
}

.blue-bg {
    background-color: blue;
    color: white;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.blue-bg-words {
    font-size: .8em;
    margin-top: 4em;
    text-align: left;
}

.pics {
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.foot {
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 4em;
}

footer li, header li {
    display: inline;
    margin: .4em;
}

.free {
    font-size: 0.7em
}

.get-started li {
    padding: 1em;
}

.btn-get-started {
    background-color: rgb(99, 160, 8);
}

.chat-bubble {
    height: 20px;
}
